body {
  margin: 0;
  background:url("https://i.imgur.com/s0pn1mN.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*z-index: -1;*/
}

/*********************************************************************************/
/* Background second image                                                                        */
/*********************************************************************************/

.container {
  opacity: 0.3;
  position: fixed;
  text-align: center;
  width: 108%;
  height: 156%;
  /*z-index: -1;*/
}

/*********************************************************************************/
/* Header                                                                      */
/*********************************************************************************/
header {
margin: 0;
}

h1 {
  position: fixed;
  color: #fff;
  font-size: 4em;
  text-align: center;
}



.byline1 {
  position: fixed;
  bottom: 300px;
  color: #85C1E9;
}

/*********************************************************************************/
/* Top Banner                                                                        */
/*********************************************************************************/

.title
{
  position: relative;
  color: white;
  font-weight: 700;
  letter-spacing: 0.10em;
  text-transform: uppercase;
}

.container1 {
  margin: 0px auto;
  width: 100vw;
}

#menu {
  background-color: black;
  border-bottom: 8px solid #85C1E9;
}

#menu ul {
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  line-height: normal;
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu a {
  display: block;
  padding: 0em 2em;
  line-height: 80px;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #FFF;
}

/*#menu .current_page_item a {
  color: #FFF;
}*/

#menu a:hover {
  background: #85C1E9;
  text-decoration: none;
  color: #154360;
}

/*nav ul {
float: left;
}*/

nav ul li{
/*float: left;*/
/*list-style: none;*/
position:relative;
}

nav ul li ul {
display: none;
position: absolute;
background: #85C1E9;
padding: 10px;
border-radius: 4px;
}

nav ul li:hover ul {
display: block;
}

nav ul li ul li {
width: 180px;
border-radius: 0px 0px 4px 4px
/*padding: 8px 14px;*/
}
nav ul li ul li a:hover {
padding: 8px 14px;
background-color: red;
}

/*********************************************************************************/
/* Quotes                                                                       */
/*********************************************************************************/


h2 {
color: white;
font-size: 30px;
padding: 20px;
line-height: 1px;
}

.byline {
color: #154360;
padding: 20px;
font-size: 20px;
line-height: 26px;
}

/*br {
line-height: 32px;
}*/

#box1 {
  position: relative;
  top: 30px;
  background-color: #85C1E9;
  margin-left: 30px;
  width: 40vw;
  height: 40vw;
  border-radius: 20px;
  /*z-index: -1;*/
  /*float: left;*/
}

.container4 {
  opacity: 0.3;
  position: fixed;
  left: 500px;
  text-align: center;
  /*z-index: -1;*/
}


#box2 {
  position: relative;
  top: 60px;
  background-color: #85C1E9;
  margin-left: 30px;
  width: 40vw;
  height: 40vw;
  border-radius: 20px;
  /*z-index: -3;*/
  /*float: left;*/
}
